EC0809_1_13/EC/WS_Paypal/App_WebReferences/WS_Bank_oFFS/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="KiemTraNhanHopLe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardreci" type="tns:CardDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CardDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="No" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expried_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="KiemTraNhanHopLeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KiemTraNhanHopLeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KiemTraGuiHopLe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardsend" type="tns:CardDTO" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KiemTraGuiHopLeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KiemTraGuiHopLeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuiTien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardsend" type="tns:CardDTO" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuiTienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuiTienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NhanTien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardreci" type="tns:CardDTO" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NhanTienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NhanTienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KiemTraNhanHopLeSoapIn">
    <wsdl:part name="parameters" element="tns:KiemTraNhanHopLe" />
  </wsdl:message>
  <wsdl:message name="KiemTraNhanHopLeSoapOut">
    <wsdl:part name="parameters" element="tns:KiemTraNhanHopLeResponse" />
  </wsdl:message>
  <wsdl:message name="KiemTraGuiHopLeSoapIn">
    <wsdl:part name="parameters" element="tns:KiemTraGuiHopLe" />
  </wsdl:message>
  <wsdl:message name="KiemTraGuiHopLeSoapOut">
    <wsdl:part name="parameters" element="tns:KiemTraGuiHopLeResponse" />
  </wsdl:message>
  <wsdl:message name="GuiTienSoapIn">
    <wsdl:part name="parameters" element="tns:GuiTien" />
  </wsdl:message>
  <wsdl:message name="GuiTienSoapOut">
    <wsdl:part name="parameters" element="tns:GuiTienResponse" />
  </wsdl:message>
  <wsdl:message name="NhanTienSoapIn">
    <wsdl:part name="parameters" element="tns:NhanTien" />
  </wsdl:message>
  <wsdl:message name="NhanTienSoapOut">
    <wsdl:part name="parameters" element="tns:NhanTienResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="KiemTraNhanHopLe">
      <wsdl:input message="tns:KiemTraNhanHopLeSoapIn" />
      <wsdl:output message="tns:KiemTraNhanHopLeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraGuiHopLe">
      <wsdl:input message="tns:KiemTraGuiHopLeSoapIn" />
      <wsdl:output message="tns:KiemTraGuiHopLeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuiTien">
      <wsdl:input message="tns:GuiTienSoapIn" />
      <wsdl:output message="tns:GuiTienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NhanTien">
      <wsdl:input message="tns:NhanTienSoapIn" />
      <wsdl:output message="tns:NhanTienSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KiemTraNhanHopLe">
      <soap:operation soapAction="http://tempuri.org/KiemTraNhanHopLe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraGuiHopLe">
      <soap:operation soapAction="http://tempuri.org/KiemTraGuiHopLe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiTien">
      <soap:operation soapAction="http://tempuri.org/GuiTien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NhanTien">
      <soap:operation soapAction="http://tempuri.org/NhanTien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KiemTraNhanHopLe">
      <soap12:operation soapAction="http://tempuri.org/KiemTraNhanHopLe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraGuiHopLe">
      <soap12:operation soapAction="http://tempuri.org/KiemTraGuiHopLe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiTien">
      <soap12:operation soapAction="http://tempuri.org/GuiTien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NhanTien">
      <soap12:operation soapAction="http://tempuri.org/NhanTien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:3333/WS_Bank_oFFS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:3333/WS_Bank_oFFS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>