Semester 7/XDPM HDT/Bai tap 7/QLTV_3tier/QLTV/Web References/BUS_WS/BUS_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoaiDocGia_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="LoaiDocGia_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoaiDocGia_GetAllResult" type="tns:ArrayOfLoaiDocGiaDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLoaiDocGiaDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LoaiDocGiaDTO" nillable="true" type="tns:LoaiDocGiaDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoaiDocGiaDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaLoaiDocGia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenLoaiDocGia" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoaiDocGia_GetByProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstKey" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="Exact" type="tns:ArrayOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBoolean">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="boolean" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoaiDocGia_GetByPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoaiDocGia_GetByPropertiesResult" type="tns:ArrayOfLoaiDocGiaDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TheDocGia_GetAll">
        <s:complexType />
      </s:element>
      <s:complexType name="TheDocGiaDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaThe" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgaySinh" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayLapThe" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayHetHan" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LoaiDocGia" type="tns:LoaiDocGiaDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTheDocGiaDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TheDocGiaDTO" nillable="true" type="tns:TheDocGiaDTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="TheDocGia_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TheDocGia_GetAllResult" type="tns:ArrayOfTheDocGiaDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TheDocGia_GetByProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstKey" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="Exact" type="tns:ArrayOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TheDocGia_GetByPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TheDocGia_GetByPropertiesResult" type="tns:ArrayOfTheDocGiaDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TheDocGia_Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dto" type="tns:TheDocGiaDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TheDocGia_InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dto" type="tns:TheDocGiaDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TheDocGia_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dto" type="tns:TheDocGiaDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TheDocGia_UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="TheDocGia_Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dto" type="tns:TheDocGiaDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TheDocGia_DeleteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoaiDocGia_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:LoaiDocGia_GetAll" />
  </wsdl:message>
  <wsdl:message name="LoaiDocGia_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:LoaiDocGia_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="LoaiDocGia_GetByPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:LoaiDocGia_GetByProperties" />
  </wsdl:message>
  <wsdl:message name="LoaiDocGia_GetByPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:LoaiDocGia_GetByPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="TheDocGia_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:TheDocGia_GetAll" />
  </wsdl:message>
  <wsdl:message name="TheDocGia_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:TheDocGia_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="TheDocGia_GetByPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:TheDocGia_GetByProperties" />
  </wsdl:message>
  <wsdl:message name="TheDocGia_GetByPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:TheDocGia_GetByPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="TheDocGia_InsertSoapIn">
    <wsdl:part name="parameters" element="tns:TheDocGia_Insert" />
  </wsdl:message>
  <wsdl:message name="TheDocGia_InsertSoapOut">
    <wsdl:part name="parameters" element="tns:TheDocGia_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="TheDocGia_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:TheDocGia_Update" />
  </wsdl:message>
  <wsdl:message name="TheDocGia_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:TheDocGia_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="TheDocGia_DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:TheDocGia_Delete" />
  </wsdl:message>
  <wsdl:message name="TheDocGia_DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:TheDocGia_DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="BUS_ServiceSoap">
    <wsdl:operation name="LoaiDocGia_GetAll">
      <wsdl:input message="tns:LoaiDocGia_GetAllSoapIn" />
      <wsdl:output message="tns:LoaiDocGia_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoaiDocGia_GetByProperties">
      <wsdl:input message="tns:LoaiDocGia_GetByPropertiesSoapIn" />
      <wsdl:output message="tns:LoaiDocGia_GetByPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_GetAll">
      <wsdl:input message="tns:TheDocGia_GetAllSoapIn" />
      <wsdl:output message="tns:TheDocGia_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_GetByProperties">
      <wsdl:input message="tns:TheDocGia_GetByPropertiesSoapIn" />
      <wsdl:output message="tns:TheDocGia_GetByPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_Insert">
      <wsdl:input message="tns:TheDocGia_InsertSoapIn" />
      <wsdl:output message="tns:TheDocGia_InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_Update">
      <wsdl:input message="tns:TheDocGia_UpdateSoapIn" />
      <wsdl:output message="tns:TheDocGia_UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_Delete">
      <wsdl:input message="tns:TheDocGia_DeleteSoapIn" />
      <wsdl:output message="tns:TheDocGia_DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BUS_ServiceSoap" type="tns:BUS_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoaiDocGia_GetAll">
      <soap:operation soapAction="http://tempuri.org/LoaiDocGia_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoaiDocGia_GetByProperties">
      <soap:operation soapAction="http://tempuri.org/LoaiDocGia_GetByProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_GetAll">
      <soap:operation soapAction="http://tempuri.org/TheDocGia_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_GetByProperties">
      <soap:operation soapAction="http://tempuri.org/TheDocGia_GetByProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_Insert">
      <soap:operation soapAction="http://tempuri.org/TheDocGia_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_Update">
      <soap:operation soapAction="http://tempuri.org/TheDocGia_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_Delete">
      <soap:operation soapAction="http://tempuri.org/TheDocGia_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BUS_ServiceSoap12" type="tns:BUS_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoaiDocGia_GetAll">
      <soap12:operation soapAction="http://tempuri.org/LoaiDocGia_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoaiDocGia_GetByProperties">
      <soap12:operation soapAction="http://tempuri.org/LoaiDocGia_GetByProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_GetAll">
      <soap12:operation soapAction="http://tempuri.org/TheDocGia_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_GetByProperties">
      <soap12:operation soapAction="http://tempuri.org/TheDocGia_GetByProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_Insert">
      <soap12:operation soapAction="http://tempuri.org/TheDocGia_Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_Update">
      <soap12:operation soapAction="http://tempuri.org/TheDocGia_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TheDocGia_Delete">
      <soap12:operation soapAction="http://tempuri.org/TheDocGia_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BUS_Service">
    <wsdl:port name="BUS_ServiceSoap" binding="tns:BUS_ServiceSoap">
      <soap:address location="http://localhost:49217/QLTV_BUS_WS/BUS_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="BUS_ServiceSoap12" binding="tns:BUS_ServiceSoap12">
      <soap12:address location="http://localhost:49217/QLTV_BUS_WS/BUS_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>